# ==========================================
# PYTHON BUILD (PyInstaller)
# ==========================================

# Build folders
build/
dist/

# PyInstaller spec file (optional)
*.spec

# ==========================================
# PYTHON CACHE
# ==========================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# VENV (if using)
# ==========================================

venv/
.env/
.env.*

# ==========================================
# OS FILES
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# IDE FILES
# ==========================================

.vscode/
.idea/

# ==========================================
# LOGS
# ==========================================

*.log